@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alert-container {
  &.is-hidden {
    display: none !important;
  }
}

.card-container {
  @media (max-width: 991px) {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card {
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 35px;
    height: 35px;

    &:first-child {
      margin-bottom: 1rem;
    }
  }
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  transition: opacity 0.4s;

  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 75px 25px 25px;
    width: 500px;
    background-color: #fff;
    z-index: 2;
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute;
    right: 25px;
    top: 25px;
    padding: 0;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.page-item {
  &.active {
    pointer-events: none;
  }
}

.filter-item  {
  label {
    margin-bottom: 0;
  }
}

.pagination {
  li {
    .page-link {
      color: #343a40;
    }

    &.active {
      .page-link {
        border-color: #343a40;
        color: #fff;
        background-color: #343a40;
      }
    }
  }
}
